## Exampl Pipeline
Using the [Iris Dataset]

In [1]:
from sklearn.datasets import load_iris

import pandas as pd

In [2]:
data = load_iris()

In [3]:
X = pd.DataFrame(data.data, columns=data.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
y = pd.Series(data.target)

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int32

In [12]:
y.value_counts()

2    50
1    50
0    50
dtype: int64

In [32]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression , LinearRegression

ls = LogisticRegression();
lr = LinearRegression()

ls.fit(X, y);

Xt = ls.predict(X)

ls.score(X,y)

## More complicated Model: Pipeline

from sklearn.preprocessing import StandardScaler

full_model = Pipeline([
    ('transformer', StandardScaler()), ('linear', lr)
])

In [33]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression , LinearRegression

ls = LogisticRegression();
lr = LinearRegression()

ls.fit(X, y);

Xt = ls.predict(X)

ls.score(X,y)

## More complicated Model: Pipeline

from sklearn.preprocessing import StandardScaler

full_model = Pipeline([
    ('transformer', StandardScaler()), ('linear', lr)
])

ss = StandardScaler()

Xt = ss.fit_transform(X);

In [34]:
pd.DataFrame(Xt, columns=data.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.032057          -1.341272         -1.312977
1          -1.143017         -0.124958          -1.341272         -1.312977
2          -1.385353          0.337848          -1.398138         -1.312977
3          -1.506521          0.106445          -1.284407         -1.312977
4          -1.021849          1.263460          -1.341272         -1.312977

In [42]:
full_model.fit(X, y);

In [43]:
full_model.score(X, y)

0.9304223675331597

In [44]:
full_model.named_steps

{'transformer': StandardScaler(copy=True, with_mean=True, with_std=True),
 'linear': LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)}

In [50]:
coeff = np.abs (full_model.named_steps['linear'].coef_)

In [48]:
import numpy as np

In [56]:
coeff_list =  list (zip (data.feature_names, coeff))
sorted (coeff_list, key=lambda x: -x[1])

[('petal width (cm)', 0.46389316345900933),
 ('petal length (cm)', 0.39918855522268254),
 ('sepal length (cm)', 0.09056977141817628),
 ('sepal width (cm)', 0.01911835774982626)]

In [51]:
for pair in zip (data.feature_names, coeff):
    print (pair)

('sepal length (cm)', 0.09056977141817628)
('sepal width (cm)', 0.01911835774982626)
('petal length (cm)', 0.39918855522268254)
('petal width (cm)', 0.46389316345900933)

The California housing data has features for latitude and longitude. Create a custom transformer that returns features for the distance away from a given set of coordinates. Use this custom transformer to create features for the distance away from Los Angeles and San Francisco and include them with the original features. How much better does the model perform?

In [63]:
from sklearn.datasets import fetch_california_housing

In [65]:
data = fetch_california_housing()
X = data['data']
y = data['target']

In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.DataFrame(X)