# CountVectorizer
WORD ORDER AND WHAT LANGUAGE DOESNT MATTER.
its a stateful process coz it depends on the entire corpus. the column index for each word depends on the order when the transformer saw it. you can connect the indices with the actual vocabulary

In [1]:
doc = ['the quick brown fox jumps over the moon',
      'the moon was full that night']

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
bow_vec = CountVectorizer(lowercase=True)
bow_vec.fit(doc)
word_counts = bow_vec.transform (doc)

In [4]:
print (word_counts)

  (0, 0)	1
  (0, 1)	1
  (0, 3)	1
  (0, 4)	1
  (0, 6)	1
  (0, 7)	1
  (0, 9)	2
  (1, 2)	1
  (1, 4)	1
  (1, 5)	1
  (1, 8)	1
  (1, 9)	1
  (1, 10)	1

In [5]:
word_counts.toarray()

array([[1, 1, 0, 1, 1, 0, 1, 1, 0, 2, 0],
       [0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1]])

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(word_counts.toarray(), columns = sorted(bow_vec.vocabulary_))

In [8]:
df
# word order anf langauage doesnt matter here

   brown  fox  full  jumps  moon  night  over  quick  that  the  was
0      1    1     0      1     1      0     1      1     0    2    0
1      0    0     1      0     1      1     0      0     1    1    1

# HashingVectorizer

In [9]:
## Vectorizer is a transoformer that will text and 
#turn it into numerical features to pump into your model

In [10]:
from sklearn.feature_extraction.text import HashingVectorizer

In [11]:
HashingVectorizer?

In [9]:
hash_vec = HashingVectorizer(n_features=20)
hash_vec.fit(doc)

HashingVectorizer(alternate_sign=True, analyzer='word', binary=False,
                  decode_error='strict', dtype=<class 'numpy.float64'>,
                  encoding='utf-8', input='content', lowercase=True,
                  n_features=20, ngram_range=(1, 1), norm='l2',
                  preprocessor=None, stop_words=None, strip_accents=None,
                  token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None)

In [10]:
hash_counts = hash_vec.transform (doc)

In [11]:
pd.DataFrame(hash_counts.toarray())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.000000,0.0,0.000000,0.0,0.316228,-0.316228,0.0,0.316228,0.0,0.0,0.316228,0.0,0.0,0.0,-0.316228,0.0,0.316228,-0.632456,0.0
1,0.0,0.408248,0.0,0.408248,0.0,0.000000,-0.408248,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,-0.408248,0.0,-0.408248,-0.408248,0.0

In [79]:
type(hash_counts)
#HASHING IS STATELESS

scipy.sparse.csr.csr_matrix

# TF-IDF

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
tfidf_vec = TfidfVectorizer()
tfidf_vec.fit(doc)
tfidf_counts  = tfidf_vec.transform (doc)

In [14]:
doc

['the quick brown fox jumps over the moon', 'the moon was full that night']

In [15]:
pd.DataFrame(tfidf_counts.toarray(), columns= tfidf_vec.vocabulary_)

,the,quick,brown,fox,jumps,over,moon,was,full,that,night
0,0.364391,0.364391,0.000000,0.364391,0.259267,0.000000,0.364391,0.364391,0.000000,0.518534,0.000000
1,0.000000,0.000000,0.446656,0.000000,0.317800,0.446656,0.000000,0.000000,0.446656,0.317800,0.446656

In [16]:
sorted(list(tfidf_vec.vocabulary_.items()))

[('brown', 0),
 ('fox', 1),
 ('full', 2),
 ('jumps', 3),
 ('moon', 4),
 ('night', 5),
 ('over', 6),
 ('quick', 7),
 ('that', 8),
 ('the', 9),
 ('was', 10)]

# n grams

In [23]:
ngcf = CountVectorizer(ngram_range=(1,2))
ngcf.fit(doc)
counts = ngcf.transform (doc).toarray()

In [24]:
doc

['the quick brown fox jumps over the moon', 'the moon was full that night']

In [25]:
counts

array([[1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 2, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1]])

In [26]:
pd.DataFrame (counts, columns=ngcf.vocabulary_.keys())

,the,quick,brown,fox,jumps,over,moon,the quick,quick brown,brown fox,...,over the,the moon,was,full,that,night,moon was,was full,full that,that night
0,1,1,1,1,0,0,1,1,1,0,...,1,1,1,0,0,2,1,1,0,0
1,0,0,0,0,1,1,0,0,1,1,...,0,0,0,1,1,1,1,0,1,1

# bigrams

In [28]:
corpus = ['it was the best of times',
         'it was the worst of times']

In [29]:
cv = CountVectorizer(lowercase=True, ngram_range=(1,2))

In [32]:
cv.fit(corpus)
matrix = cv.transform(corpus).todense()

In [33]:
pd.DataFrame(matrix, columns= sorted(cv.vocabulary_))

,best,best of,it,it was,of,of times,the,the best,the worst,times,was,was the,worst,worst of
0,1,1,1,1,1,1,1,1,0,1,1,1,0,0
1,0,0,1,1,1,1,1,0,1,1,1,1,1,1